body {
    background-color: lightpink;
}

.image {
    height: auto;
    width: 400px;
}

ul, ol, ul {
    font-family: Verdana, sans-serif;
    color: black;
    background-color: bisque;
}

p {
    font-style: italic;
}

.external-links {
    background-color: aliceblue;
}